fastapi
uvicorn
uvloop
gunicorn
httptools
numpy
pandas
matplotlib
cmocean
python-multipart
nltk
pyspellchecker
language_tool_python
requests
pyodbc
pandera
openpyxl
pandas_schema
pyarrow
aiofiles
python-jose
cryptography
passlib
bcrypt
plotly
spacy
sklearn
tensorflow
seaborn
opencv
scipy
xarray
sweetviz
streamlit
geopandas
pygeos
fiona
geopy
netCDF4
tabulate
tqdm
similaritymeasures
beautifulsoup4
user-agents
databricks-sql-connector
gensim
scikit-surprise